* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 35px;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #182d55;
}

header h1 {
    font-weight: 900;
    font-size: 36px;
    margin: 0;
    ;

}

header div {
    padding: auto;
    background-color:white;
}

header a {
    text-decoration: none;
    color: #f26722;
    
}


header nav {
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
}

header nav ul a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.hero {
    height: 400px;
    width: 100%;
    background-image: url("../images/tiger.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
}

.hometown {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row-reverse;
    padding: 30px;
    font-size: 2vw;
    color: #f26722;
   }

.hometown span {
    margin-top: auto;
    padding: 300px 0;
}

.about-me {
    display: flex;
    width: 100%;
}

.about-me h2 {
    display: flex;
    height: 100%;
    width: 50%;
    color: #f26722;
    padding: 45px 0;
    background-color: #182d55;
    border-right: 3px solid  #f26722 ;
    justify-content: center;
}

.about-me p {
    padding: 40px;
    display: flex;
    background-color: #182d55;
    color: #f26722;
    height: 100%;
    justify-content: left;
}